


/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);

  
}

/* ===== VARIABLES ===== */
:root {
  --color-primary: #4d6bfe;
  --color-secondary: #F0F4F7;
  --color-bg: #f8f9fd;
  --color-white: #ffffff;
  --color-gray-dark: #656565;
  --color-gray: #949494;
  --color-text: #2e2e2e;

  --radius: 0.8rem;
  --shadow: 0 4px 12px rgba(0,0,0,0.08);
}


.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1.5rem;
    overflow: hidden;

}




/* ===== FORM CONTAINER ===== */


.form-container {
     padding-right: 8rem;
     padding-left: 3rem;
     width: 60%;
     height: 100%;
}

.logo-image {
  width: 200px;
  margin-left: -12px;

}


.form-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.form-description {
  font-size: 1rem;
  color: var(--color-gray);
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.checkout-form fieldset{
    display: flex;
    flex-direction: column;
    border-style: none ;
}


.checkout-form fieldset > label, .payment-method legend{
    color: var(--color-gray-dark);
    font-weight: 500;
}



/* Input styles*/


.checkout-form input[type="text"],
.checkout-form input[type="email"],
.select-country{
    padding: 13px 15px;
    border: 1px solid var(--color-gray);
    background-color: transparent;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}




/*Radio buttons styles*/


.payment-method > div{
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;
}

.payment-method input[type="radio"] {
  display: none;
}   


.radio-button {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-self: start;
    padding: 1rem;
    
    border: 1px solid var(--color-gray);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    width: 33%;
    height: 100px;
}


.radio-button:hover {
  border-color: var(--color-primary);   

}


input[type="radio"]:checked + .radio-button {
  background-color: #ECE9FC;
  color: black;
  border-color: #BDA3F3;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.radio-button img {
  width: 24px;
  height: 24px;
}

.payment-option-text {
 
  font-weight: 600;
  font-size: 1rem;
  
}




/*Country and postal code styles*/

.country-postal-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  
}

.country-select-container{
  width: 50%;
}

.postal-code-container{
    width: 50%;
}

.select-country {
  width: 95%;  
}

/* Buttons */


.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  gap: 20px;
}

.cancel-button {
  background-color: var(--color-secondary);
  border: none;
  color: var(--color-text);

  font-weight: 500;
  cursor: pointer;
  padding: 16px 15px;
  border-radius: 8px;
 
  font-size: 1.2rem;
  width: 15%; 
}


.submit-button {
  background-color: #753EE4;
  border: none;
  color: var(--color-white);
  font-weight: 500;
  cursor: pointer;
  padding: 16px 15px;
  border-radius: 8px;
  font-size: 1.2rem;

  width: 85%;
  
}

.submit-button:hover {
  background-color: #5a2dbb;
}

.cancel-button:hover {
  background-color: #d6dce3;
}




/* ===== Select plan ===== */


.select-plan-container {
  background-color: var(--color-secondary);
  padding: 2.5rem;
  border-radius: 10px;
  width: 40%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.dashboard-illustration img {
  width: 120px;
  border-radius: var(--radius);
}




/*Plan text*/
.select-plan-form > fieldset > legend {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;

}




.total-amount-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}


.advertise-message{
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--color-gray);
  font-weight: 500;
  display: flex;
}

.info-icon {
  width: 16px;
  height: 16px;}


/*Plan input styles*/
.select-plan-form > fieldset {
  border: none;

}


.option-plan-container {
  
  display: flex;
  gap: 1rem;
  border: 1.8px solid white;
  border-radius: 10px;
  padding: 12px 12px ;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  background-color: #FFFFFF;
}


.option-plan-container label{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  gap: 0.3rem;
}

input[type="radio"]:checked + .option-plan-container{
  background-color: #d11e86;
  
}


.option-plan-container:has(input[type="radio"]:checked) {
  border-color: #5a2dbb;
  background-color: #ECE9FC ;
}



/*Images inside plan options*/


.dashboard-illustration{
  width: 100%;
   position: relative;
 

}

.dashboard-illustration img {
  width: 100%;
  position: absolute;
  bottom: 100;
  right: -150px;

}








/* ===== MEDIA QUERIES ===== */



@media (min-width: 2500px) {
  
      
        .dashboard-illustration img {
          
          bottom: 500;
          right: -300px;

        }


}





@media (max-width: 1024px) {
  
      .cancel-button {
          width: 30%; 
        }


        .submit-button { 
          width: 70%;      
        }
            


}



@media (max-width: 1000px) {
  
          
      .checkout-container {
        flex-direction: column-reverse;
        overflow: auto;
        height: auto;
        position: relative;


      }

      
      .form-container {
        
          width: 100%;
          height: 100%;
         
          padding-right: 1rem;
          padding-left: 1rem;
          position: relative;
      }



      .select-plan-container {
         
        
          width: 100%;
          height:650px;
          overflow-x: hidden;
          overflow-y: hidden;
          position: relative;

      
         
        }


              
      .dashboard-illustration{
        width: 100%;
        position: relative;

        bottom: 100;
        right: -20px;

      

      }

      .dashboard-illustration img {
        width: 100%;
      
      }        


}




@media (max-width: 550px) {
  
  

      .select-plan-container { 
          height: 580px;
        }
          
      .dashboard-illustration{
        bottom: 100;
        right: 50px;
      }


        .payment-method > div{
          display: flex;
          gap: 0.5rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
          flex-direction: row;
        }

        .country-postal-container {
          flex-direction: column;
          width: 100%;
          
        }

        .country-select-container{
          width: 100%;
        }

        .postal-code-container{
            width: 100%;
        }

        .select-country {
          width: 100%;  
        }

  

}



@media (max-width: 370px) {
  
  

      .select-plan-container { 
          height: 550px;
          padding: 1rem;
        }
          
      .dashboard-illustration{
        bottom: 100;
        right: 65px;
      }


        .payment-method > div{
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
          flex-direction: row;
          justify-content: center;
        
        }


        .radio-button {
           
            width: 46%;
            height: 100px;
            min-width: 46%
        }

      

  

}